@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
/* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
/* font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
/* font-family: 'Yanone Kaffeesatz', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

.navbar{
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.navbar .logo{
    padding: 0 60px;
}

.navbar .logo a{
    font-size: 32px;
    color: rgb(109, 65, 150);
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}

.navbar .left {
    display: flex;
    justify-content: space-around;
}

.navbar .left p{
    /* vertical-align: middle; */
    font-size: 19px;
    margin: 15px 20px 0 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .left .icon{
    margin: 0 10px;
}

.navbar .left i{
    font-size: 34px;
    color: rgb(85, 85, 85);
    align-items: center;
    padding: 7px 10px 7px 10px;
}

hr{
    color:gray;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.hr1{
    height: 10px;
    box-shadow: inset 0 12px 10px -10px rgba(0, 0, 0, .5);
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }

  .dropdown{
      font-size: 15px;
      padding: 0 30px;
      font-family: 'Open Sans', sans-serif;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}

.take{
    display: inline-block;
    margin: 10px 0 0 20px;
}

.take img{
    height: 150px;
    width: 150px;
}

.take .h{
    display: inline;
    position: absolute;
    padding: 20px 0 0 50px;
    font-size: 20px;
    /* font-weight: bold; */
    text-transform:uppercase;
    font-family: 'Poppins', sans-serif;
}

.h1{
    display: inline;
    position: absolute;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 50px 0 0 50px;
    text-decoration: underline;
}

.h2{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 70px 0 0 50px;
}

.h3{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 85px 0 0 50px;
}

.h4{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 100px 0 0 50px;
}